<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="IsDarkTheme" value="True" />
		<add key="color" value="#FF0000FF"/>
		<add key="IsRemember" value="True" />
		<add key="IsAutoLogin" value="False" />
		<add key="Account" value="111" />
		<add key="Password" value="111" />
		
	</appSettings>
</configuration>